In [ ]:
# Segundo día de Datathon
# Intento de explorar los files de manera "correcta"

# 1. Azure storage file datalake install

In [ ]:
#!pip install fastparquet

In [ ]:
#!pip install azure-storage-file-datalake --pre

# 2. Import modules

In [1]:
from azure.storage.filedatalake import DataLakeServiceClient
from azure.storage.filedatalake import FileSystemClient
from concurrent.futures import ThreadPoolExecutor
from datetime import datetime, timedelta
import pyarrow as pa
import pyarrow.parquet as pq
from tqdm import tqdm
import pandas as pd
import numpy as np
import gzip
import json
import os

# 3. Azure credentials

In [2]:
# Key e info del Azure Account
#Data Stored in Azure Data Lake Storage (ADLS):

storage_account = "safactoreddatathon"
container= "source-files"
authentication_method= "SAS Token"
sas_token= "sp=rle&st=2023-07-25T18:12:36Z&se=2023-08-13T02:12:36Z&sv=2022-11-02&sr=c&sig=l2TCTwPWN8LSM922lR%2Fw78mZWQK2ErEOQDUaCJosIaw%3D"
sas_url= "https://safactoreddatathon.dfs.core.windows.net/source-files?sp=rle&st=2023-07-25T18:12:36Z&se=2023-08-13T02:12:36Z&sv=2022-11-02&sr=c&sig=l2TCTwPWN8LSM922lR%2Fw78mZWQK2ErEOQDUaCJosIaw%3D"
url = "https://safactoreddatathon.dfs.core.windows.net"
connect_str = 'DefaultEndpointsProtocol=https;AccountName=' + storage_account + ';AccountKey=' + sas_token + ';EndpointSuffix=core.windows.net'
#- Objects:
metadata = "amazon_metadata"
data = "amazon_reviews"

# 4. Data lake service connection

In [3]:
service_client = DataLakeServiceClient(account_url="https://safactoreddatathon.dfs.core.windows.net"
                                           , credential="sp=rle&st=2023-07-25T18:12:36Z&se=2023-08-13T02:12:36Z&sv=2022-11-02&sr=c&sig=l2TCTwPWN8LSM922lR%2Fw78mZWQK2ErEOQDUaCJosIaw%3D")

    # Obtén el sistema de archivos del cliente
file_system_client = service_client.get_file_system_client(file_system="source-files")

    # Obtén el directorio del cliente
directory_client = file_system_client.get_directory_client("/")

file_paths = file_system_client.get_paths()

# 5. Data extraction and transformation
 * 5.1 Iterate over the paths and extract the name of the metadata and reviews files.
 * 5.2 Decompress the files.
 * 5.3 Decode the bytes.
 * 5.4 Remove the braces '{}' from the string to get individual dictionaries.
 * 5.5 Create a Pandas DataFrame.
 * 5.6 Select the relevant columns and change some datatypes to reduce file size.

In [4]:
### 5.1
reviews_json_gz = []
metadata_list = []

for path in file_paths:
    if ".json.gz" in path.name:
        if "metadata" in path.name:
            metadata_list.append(path.name)
        else:       
            reviews_json_gz.append(path.name)

In [5]:
reviews_json_gz_1 = reviews_json_gz[:130]

reviews_json_gz_2 = reviews_json_gz[len(reviews_json_gz_1)*1: len(reviews_json_gz_1)*2]
reviews_json_gz_3 = reviews_json_gz[len(reviews_json_gz_1)*2:len(reviews_json_gz_1)*3]
reviews_json_gz_4 = reviews_json_gz[len(reviews_json_gz_1)*3:len(reviews_json_gz_1)*4]

# reviews_json_gz_9 = reviews_json_gz[len(reviews_json_gz_1)*8:len(reviews_json_gz_1)*9]
# reviews_json_gz_10 = reviews_json_gz[len(reviews_json_gz_1)*9:len(reviews_json_gz_1)*10]

* Function to process files

In [ ]:
games = {
    'style': [
        '{"Format":"Video Game"}',
        '{"Platform":"PlayStation2"}',
        '{"Platform":"GameCube"}',
        '{"Edition":"Standard","Platform":"PC"}',
        '{"Platform":"PC"}',
        '{"Platform":"PC Download"}',
        '{"Platform":"Xbox"}',
        '{"Edition":"Standard","Platform":"Mac"}',
        '{"Edition":"Game of the Year","Platform":"PC"}'
    ]
}

* Batch 1.1

In [8]:
for i in tqdm(reviews_json_gz_1, total=len(reviews_json_gz_1)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

  0%|          | 0/130 [00:00<?, ?it/s]

100%|██████████| 130/130 [01:36<00:00,  1.34it/s]

In [10]:
with gzip.open("test_final.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
data_str = data.decode('utf-8')
del data
data_string = data_str.strip()
del data_str
data_list = [eval(d) for d in data_string.split('\n')]
del data_string

In [11]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)
    

df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 1.1!')

Batch completado 1.1!

In [21]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_1_1.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_1_1.gzip', compression='gzip', engine='fastparquet')

* Batch 1.2

In [23]:
for i in tqdm(reviews_json_gz_2, total=len(reviews_json_gz_2)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_1_2.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:21<00:00,  1.60it/s]

In [24]:
with gzip.open("test_final_1_2.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [25]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 1.2!')

Batch completado 1.2!

In [27]:
del data_list

In [28]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_1_2.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_1_2.gzip', compression='gzip', engine='fastparquet')

In [29]:
df_temp_1_1.head()

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True          971             955       5491
1     201201        2      True          620             614       3394
2     201201        3      True          949             930       3380
3     201201        4      True         2245            2143       4354
4     201201        5      True         8796            8425      14022

* Batch 1.3

In [33]:
for i in tqdm(reviews_json_gz_3, total=len(reviews_json_gz_3)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_1_3.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:48<00:00,  1.19it/s]

In [34]:
with gzip.open("test_final_1_3.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [35]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 1.3!')

Batch completado 1.3!

In [37]:
del data_list

In [38]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_1_3.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_1_3.gzip', compression='gzip', engine='fastparquet')

In [36]:
df_temp_1_1.head()

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True         1533            1516       5813
1     201201        2      True          879             865       2328
2     201201        3      True         1133            1109       2857
3     201201        4      True         2393            2274       3306
4     201201        5      True         7286            6893      16556

* Batch 1.4

In [40]:
for i in tqdm(reviews_json_gz_4, total=len(reviews_json_gz_4)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_1_4.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:48<00:00,  1.20it/s]

In [41]:
with gzip.open("test_final_1_4.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [42]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 1.4!')

Batch completado 1.4!

In [49]:
del data_list

In [48]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_1_4.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_1_4.gzip', compression='gzip', engine='fastparquet')

In [43]:
df_temp_1_1.head()

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True          807             773       5458
1     201201        2      True          359             347       1822
2     201201        3      True          554             541       2849
3     201201        4      True         1292            1225       3313
4     201201        5      True         4557            4306      14884

* Batch 2.1

In [6]:
reviews_json_gz_5 = reviews_json_gz[len(reviews_json_gz_1)*4:len(reviews_json_gz_1)*5]
reviews_json_gz_6 = reviews_json_gz[len(reviews_json_gz_1)*5:len(reviews_json_gz_1)*6]
reviews_json_gz_7 = reviews_json_gz[len(reviews_json_gz_1)*6:len(reviews_json_gz_1)*7]
reviews_json_gz_8 = reviews_json_gz[len(reviews_json_gz_1)*7:len(reviews_json_gz_1)*8]

In [7]:
for i in tqdm(reviews_json_gz_5, total=len(reviews_json_gz_5)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_2_1.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:46<00:00,  1.22it/s]

In [8]:
with gzip.open("test_final_2_1.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [9]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 2.1!')

Batch completado 2.1!

In [12]:
del data_list

In [13]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_2_1.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_2_1.gzip', compression='gzip', engine='fastparquet')

In [11]:
df_temp_1_2.head()

,asin,overall,reviewText,reviewerID,style,summary,verified,vote,YearMonth
811,1452108870,5,Love this game -- we play it like trivial purs...,A2G6H10R2KYGV1,"{""Format:"":"" Game""}",Five Stars,True,0,201712
813,1452108870,5,Arrived quickly. Lots of fun!,A17ST4ISMBM8BQ,"{""Format:"":"" Game""}",Lots of fun!,True,0,201501
815,1452108870,5,Fun game to play with friends!!,A1F6JQVBA6WKOC,"{""Format:"":"" Game""}",Five Stars,True,0,201501
817,1452108870,3,My husband and I are home brewers and beer dri...,ADA1O9CLLQCAY,"{""Format:"":"" Game""}",Great Concept,True,4,201401
819,1452108870,4,"Haven't played it much yet, but it's fun for b...",A2U39KSAZB3R69,"{""Format:"":"" Game""}",Fun beer trivia game,True,0,201401

* Batch 2.2

In [14]:
for i in tqdm(reviews_json_gz_6, total=len(reviews_json_gz_6)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_2_2.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:31<00:00,  1.43it/s]

In [15]:
with gzip.open("test_final_2_2.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [16]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 2.2!')

Batch completado 2.2!

In [20]:
del data_list

In [21]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_2_2.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_2_2.gzip', compression='gzip', engine='fastparquet')

In [19]:
df_temp_1_1.head(10)

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True         1059            1035       6426
1     201201        2      True          547             538       2333
2     201201        3      True          812             784       2978
3     201201        4      True         2101            2018       4754
4     201201        5      True         6780            6431      17661
5     201202        1      True          789             766       4813
6     201202        2      True          448             434       1699
7     201202        3      True          666             646       2458
8     201202        4      True         1520            1448       4799
9     201202        5      True         5004            4782      13725

* Batch 2.3

In [22]:
for i in tqdm(reviews_json_gz_7, total=len(reviews_json_gz_7)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_2_3.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:28<00:00,  1.47it/s]

In [23]:
with gzip.open("test_final_2_3.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [24]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 2.3!')

Batch completado 2.2!

In [27]:
del data_list

In [26]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_2_3.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_2_3.gzip', compression='gzip', engine='fastparquet')

In [25]:
df_temp_1_1.head(10)

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True          958             949       5701
1     201201        2      True          578             572       2384
2     201201        3      True          878             862       3407
3     201201        4      True         2088            2036       5186
4     201201        5      True         6287            6078      24145
5     201202        1      True          650             645       4572
6     201202        2      True          438             434       2707
7     201202        3      True          654             639       2949
8     201202        4      True         1548            1507       7408
9     201202        5      True         4699            4540      18230

* Batch 2.4

In [28]:
for i in tqdm(reviews_json_gz_8, total=len(reviews_json_gz_8)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_2_4.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:30<00:00,  1.44it/s]

In [29]:
with gzip.open("test_final_2_4.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [30]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 2.4!')

Batch completado 2.4!

In [ ]:
del data_list

In [ ]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_2_4.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_2_4.gzip', compression='gzip', engine='fastparquet')

In [31]:
df_temp_1_1.head(10)

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True          878             865       5765
1     201201        2      True          465             462       2282
2     201201        3      True          709             680       2252
3     201201        4      True         1731            1623       4450
4     201201        5      True         6903            6470      14879
5     201202        1      True          694             676       4683
6     201202        2      True          444             430       1707
7     201202        3      True          692             649       2275
8     201202        4      True         1781            1662       3839
9     201202        5      True         6643            6120      15451

* Batch 3.1

In [6]:
reviews_json_gz_9 = reviews_json_gz[len(reviews_json_gz_1)*8:len(reviews_json_gz_1)*9]
reviews_json_gz_10 = reviews_json_gz[len(reviews_json_gz_1)*9:len(reviews_json_gz_1)*10]
reviews_json_gz_11 = reviews_json_gz[len(reviews_json_gz_1)*10:len(reviews_json_gz_1)*11]
reviews_json_gz_12 = reviews_json_gz[len(reviews_json_gz_1)*11:len(reviews_json_gz_1)*12]

In [8]:
for i in tqdm(reviews_json_gz_9, total=len(reviews_json_gz_9)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_3_1.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:23<00:00,  1.55it/s]

In [9]:
with gzip.open("test_final_3_1.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [10]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 3.1!')

Batch completado 3.1!

In [16]:
del data_list

In [14]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_3_1.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_3_1.gzip', compression='gzip', engine='fastparquet')

In [15]:
df_temp_1_1.head()

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True          695             689       3953
1     201201        2      True          437             433       2298
2     201201        3      True          701             686       3438
3     201201        4      True         1577            1538       4059
4     201201        5      True         5737            5554      16699

* Batch 3.2

In [17]:
del df_temp_1_1
del df_temp_1_2
del df_temp

In [18]:
for i in tqdm(reviews_json_gz_10, total=len(reviews_json_gz_10)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_3_2.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:43<00:00,  1.26it/s]

In [19]:
with gzip.open("test_final_3_2.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [20]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 3.2!')

Batch completado 3.2!

In [ ]:
del data_list

In [23]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_3_2.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_3_2.gzip', compression='gzip', engine='fastparquet')

In [22]:
df_temp_1_2.head()

,asin,overall,reviewText,reviewerID,summary,verified,style,vote,YearMonth
182212,B00486ZVC4,5,My daughter's favorite game for years. I thi...,A1EO1M6UZDAJGB,My daughter's favorite game for years,True,"{""Style:"":"" Game""}",0,201805
182214,B00486ZVC4,5,My 3 year old loves this game! Easy to play bu...,A1S3SAB5J64CE,Great game!,True,"{""Style:"":"" Game""}",0,201805
182216,B00486ZVC4,5,excelent,A12ZTZWBQL4NFI,Five Stars,True,"{""Style:"":"" Game""}",0,201805
182218,B00486ZVC4,5,Cute game. Easy for our 3-4 year old granddau...,A2SSDGVDDXVJTT,Fun game,True,"{""Style:"":"" Game""}",0,201805
182222,B00486ZVC4,5,Our grand-kids really enjoy this game.,A2ABZW9KZ3UFPF,Five Stars,True,"{""Style:"":"" Game""}",0,201805

* Batch 3.3

In [24]:
del df_temp_1_1
del df_temp_1_2
del df_temp

In [25]:
for i in tqdm(reviews_json_gz_11, total=len(reviews_json_gz_11)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_3_3.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:37<00:00,  1.34it/s]

In [26]:
with gzip.open("test_final_3_3.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [27]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 3.3!')

Batch completado 3.3!

In [31]:
del data_list

In [30]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_3_3.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_3_3.gzip', compression='gzip', engine='fastparquet')

In [29]:
df_temp_1_1.head()

   YearMonth  overall  verified  total_count  distinct_count  votes_sum
0     201201        1      True          775             763       4125
1     201201        2      True          426             421       1635
2     201201        3      True          723             706       1772
3     201201        4      True         1476            1414       2578
4     201201        5      True         5030            4835       8976

* Batch 3.4

In [32]:
del df_temp_1_1
del df_temp_1_2
del df_temp

In [33]:
for i in tqdm(reviews_json_gz_12, total=len(reviews_json_gz_12)):
        file_client = file_system_client.get_file_client(i)
        with open("test_final_3_4.json.gz", "ab") as my_file:
        #with open("test_final.json.gz", "wb") as my_file:
                download = file_client.download_file()
                download.readinto(my_file)

100%|██████████| 130/130 [01:51<00:00,  1.17it/s]

In [34]:
with gzip.open("test_final_3_4.json.gz", "rb") as gzip_file:
        data = gzip_file.read()
print('Data!')
data_str = data.decode('utf-8')
del data
print('Data String!')
data_string = data_str.strip()
del data_str
print('Strip!')
data_list = [eval(d) for d in data_string.split('\n')]
del data_string
print('End')

Data!
Data String!
Strip!
End

In [35]:
df_temp = pd.DataFrame(data_list)
df_temp = df_temp.drop(['image', 'reviewerName'], axis=1)
df_temp['overall'] = df_temp['overall'].astype('float16').astype('int8')
df_temp['verified'] = df_temp['verified'].astype(bool)
df_temp['vote'] = df_temp['vote'].fillna("0").str.replace(',','',regex=True).astype('int16')
df_temp['Datetime'] = pd.to_datetime(df_temp['unixReviewTime'], unit='s')
df_temp = df_temp[df_temp['Datetime'].dt.year >= 2012].drop('unixReviewTime', axis=1)
df_temp['YearMonth'] = df_temp['Datetime'].dt.year*100 + df_temp['Datetime'].dt.month
df_temp = df_temp.drop('Datetime',axis=1)


df_temp_1_1 = df_temp.groupby(['YearMonth', 'overall', 'verified']).agg(total_count=pd.NamedAgg(column='reviewerID', aggfunc='count'),
                                                             distinct_count=pd.NamedAgg(column='reviewerID', aggfunc='nunique'),
                                                             votes_sum=pd.NamedAgg(column='vote', aggfunc='sum')).reset_index()
df_temp_1_2 = df_temp[df_temp['style'].str.contains('Platform') | df_temp['style'].str.contains('Game')]
print('Batch completado 3.4!')

Batch completado 3.4!

In [40]:
del data_list

In [39]:
df_temp_1_1.to_parquet('final_ahora_si_talvez/Agrupado/df_grouped_3_4.gzip', compression='gzip', engine='fastparquet')
df_temp_1_2.to_parquet('final_ahora_si_talvez/Games/df_games_3_4.gzip', compression='gzip', engine='fastparquet')

In [38]:
df_temp_1_2.tail()

,asin,overall,reviewText,reviewerID,summary,verified,style,vote,YearMonth
2009565,B004YE1XKY,5,Rockon,A3C88IOPIZMH6Q,cool,True,"{""Size:"":"" 8.5 D(M) US"",""Color:"":"" Game Royal/...",0,201707
2009567,B004YE1XKY,5,Very comfortable fit perfect,AR32OS4DEOCYY,Five Stars,True,"{""Size:"":"" 9 D(M) US"",""Color:"":"" Game Royal/Bl...",0,201707
2009575,B004YE1XKY,5,"Easy transaction, highly recommend",A12SNU9R79L4H7,Five Stars,True,"{""Size:"":"" 10 D(M) US"",""Color:"":"" Game Royal/W...",0,201701
2009579,B004YE1XKY,5,Nice,A3FGM2Y8MYAZRY,Five Stars,True,"{""Size:"":"" 9.5 D(M) US"",""Color:"":"" Game Royal/...",0,201607
3332691,B00MIOA2VS,5,Good quality As described. I'm,A1W7MBD25D41RT,Five Stars,True,"{""Team Name:"":"" South Carolina Fighting Gameco...",0,201608